html,
body {
  height: 100%;
  background-color: #000000;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.row {
  margin-top: 60px;
}

.form-control {
  margin-bottom: 10px;
}

.upload-btn, .btn:focus {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #f0b100;
  transition: .5s;
}

.upload-btn:hover {
  color: #000000;
  background-color: #f0b100;
  border: 1px solid #ffffff;
}

h2 {
  margin-top: 15px;
  color: #ffffff;
}

.panel {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: transparent;
}

#upload-single, #upload-multiple {
  display: none;
}

.progress {
  margin-top: 10px;
  height: 10px;
}

.label {
  font-size: 48px;
}

.progress-bar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff301d+0,fefb40+54,51f70f+100 */
  background: #ff301d; /* Old browsers */
  background: -moz-linear-gradient(left,  #ff301d 0%, #fefb40 54%, #51f70f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ff301d 0%,#fefb40 54%,#51f70f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ff301d 0%,#fefb40 54%,#51f70f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff301d', endColorstr='#51f70f',GradientType=1 ); /* IE6-9 */
}

